[submodule "python-syntax"]
	path = my_plugins/python-syntax
	url = https://github.com/vim-python/python-syntax.git
[submodule "vim-airline"]
	path = my_plugins/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim-airline-themes"]
	path = my_plugins/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim-indent-guides"]
	path = my_plugins/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
